* {
  margin:0;
  padding:0;
  border:none;
}

body {
  background: black url('../i/background.png')
    repeat scroll top left;
  font: 28px/1em "Helvetica";
  color: #FFF;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
}

a {
  color: #bfbfbf;
}

.code-wrap {
  width: 45%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  font-size: .5em;
  z-index: 999;
  overflow: scroll;
  line-height: 1.5em;
}
.highlight {
  position: absolute;
  width: 100%;
  min-height: 100%;
}
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  -webkit-user-select: text;
  padding: 1em;
}
#FramerRoot {
  width: 100% !important;
  left: 23.75% !important;
  -webkit-user-select: none;
  overflow: hidden;
  /*padding-right: 22.5%;*/
}
